@using PagedList.Mvc

@model PagedList.IPagedList<Leaf.Web.Models.Submit.ShortSubmission>

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

<h2>Изпратени въпроси</h2>

@foreach (var submission in Model)
{
    Html.RenderPartial("_ListSubmissionPartial", submission);
}

<div class="pages total">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Submissions", "Moderation",
        new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "list",
                InsertionMode = InsertionMode.Replace
            }))
</div>

