@model  Leaf.Web.Areas.Noit.Models.FullTest.NextQuestionViewModel

<link href="~/Content/questionBox.css" rel="stylesheet" />

<div class="general-holder">
    <div class="question-holder">@Model.Condition</div>

    <div class="answer-holder">
        @*Shuffle the order of the answers *@
        @{
            var random = new Random();

            var shuffledAnswers = Model.Answers.ToArray();

            //shuffle the array
            for (int i = 0; i < shuffledAnswers.Length; i++)
            {
                var ramdonNumber = random.Next(0, shuffledAnswers.Length);

                var temp = shuffledAnswers[i];
                shuffledAnswers[i] = shuffledAnswers[ramdonNumber];
                shuffledAnswers[ramdonNumber] = temp;
            }
        }

        @foreach (var answer in shuffledAnswers)
        {
            @Html.ActionLink(answer.Content,
               "ReceiveAnswer",
               "FullTest",
               new {testId = this.Model.TestId ,questionId = this.Model.QuestionId, answerId = answer.Id },
               new { @class = "btn btn-primary answer" })
        }
    </div>
</div>