@using Leaf.Models.Enums

<h1>Тестове</h1>

<h2>Цял тест</h2>

<p>Решете един цял тест, за времето което бихте имали и на истинската олимпиада, за да видите колко точки имате и каква оценка бихте получили.</p>

<h3>@Html.ActionLink("Започнете тест", "New", "Tests", new {type = TestType.Test }, null)</h3>

<h2>Тренировка</h2>

<p>Упражнявайте се за олимпиадата. Като със всяка тренировка ще обръщаме по-голямо внимание на слабите ви страни.</p>

<h3>@Html.ActionLink("Започнете тренировка", "New", "Tests", new { type = TestType.Practice }, null)</h3>