@model  Leaf.Web.Models.Tests.IndexViewModel


@{
    ViewBag.FullTestButton = Model.HasUnfinishedTest ? "Продължете стария си тест" : "Започнете нов тест";
    ViewBag.PracticeButton = Model.HasUnfinishedPractice ? "Продължете старата си тренировка" : "Започнете нова тренировка";
}

<h1>Тестове</h1>

<h2>Цял тест</h2>

<p>Решете един цял тест, за времето което бихте имали и на истинската олимпиада, за да видите колко точки имате и каква оценка бихте получили.</p>

<h3>@Html.ActionLink((string)ViewBag.FullTestButton, "GetUserTest", "Tests", null, null)</h3>

<h2>Тренировка</h2>

<p>Упражнявайте се за олимпиадата. Като със всяка тренировка ще обръщаме по-голямо внимание на слабите ви страни.</p>

<h3>@Html.ActionLink((string)ViewBag.PracticeButton, "GetUserPractice", "Tests", null, null)</h3>