@model Leaf.Models.Question

<link href="~/Content/questionBox.css" rel="stylesheet" />

<div class="general-holder">
    <div class="question-holder">@Model.Condition</div>

    <div class="answer-holder">
        @*Shuffle the order of the answers *@

        @foreach (var answer in Model.Answers)
        {
            @Html.ActionLink(answer.Content, "FullTest", "Noit", new { questionId = this.Model.Id, answerId = answer.Id}, null)
            @*<button class="btn btn-primary answer">@answer.Content</button>*@
        }
    </div>
</div>