@using Leaf.Models
@model  bool  
@{
    ViewBag.Title = "FullTest";
    ViewBag.ButtonText = Model ? "Continue test" : "Start new test";
}

<h2>FullTest</h2>

<h3>@Html.ActionLink((string)ViewBag.ButtonText, "StartTest", "Noit", null, null)</h3>