
@{
    ViewBag.Title = "Submit";
}

<h2>Изпратете въпрос</h2>

<p>Помогнете ни да обогатим базата ни от въпроси!</p>

<p>Въпросите ви първо трябва да бъдат удобрени от модератор.</p>

@Html.ActionLink("Изпратете въпрос", "New", "Submit", null, null)