
@{
    ViewBag.Title = "NotFound";
}
<div class="jumbotron">
    <h1><i class="glyphicon glyphicon-search red"></i> 404 Not Found</h1>
    <p class="lead">We couldn't find what you're looking for on <em><span id="display-domain"></span></em>.</p>
</div>
