
@{
    ViewBag.Title = "NotFound";
}
<div class="jumbotron">
    <p class="lead">Изглежда, че се загубихте!</p>
    <img width="900" src="../../images/Error404.png" />
    <p class="lead">Но пък намерихте коалата ни. Бихте ли я опътили обратно?</p>

</div>
