
@{
    ViewBag.Title = "ServerError";
}

<div class="jumbotron">
    <p class="lead">Изглежда, че имаме проблем. Моля, опитайте отново, малко по-късно!</p>
    <img width="900" src="../../images/Error500.png"/>
</div>
