
@{
    ViewBag.Title = "ServerError";
}

<div class="jumbotron">
    <h1><span class="glyphicon glyphicon-fire red"></span>500 Internal Server Error</h1>
    <p class="lead">The web server is returning an internal error.</p>
</div>
