@model IEnumerable<Leaf.Models.Submission>

@{
    ViewBag.Title = "Submissions";
}

<h2>Submissions</h2>

@foreach (var submission in Model)
{
    <p>@Html.ActionLink(submission.Condition, "Submission", "Moderation", new { id = submission.Id }, null)</p>
}
