@model Leaf.Models.Submission

@{
    ViewBag.Title = "Submission";
}

<h2>Submission</h2>

<h3>@Model.Condition</h3>

@Html.ActionLink("Approve", "Approve", "Moderation", new { submissionId = this.Model.Id }, null)