@Model  bool  
@{
    ViewBag.ButtonText = Model ? "Продължете стария си тест" : "Започнете нов тест";
}

<h2>Цял тест</h2>

<p>Решете един цял тест, за времето което бихте имали и на истинската олимпиада, за да видите колко точки имате и каква оценка бихте получили.</p>

<h3>@Html.ActionLink((string)ViewBag.ButtonText, "GetUserTest", "FullTest", null, null)</h3>