
@{
    ViewBag.Title = "Submit";
}

<h2>Submit</h2>
<p>Help us enlarge our questions database by sending us more questons</p>
<p>Your questions would first have to be approved by a moderator.</p>

@Html.ActionLink("Send us a question", "New", "Submit", null, null)