@model Leaf.Web.Areas.Noit.Models.Submit.SubmissionViewModel

@{
    ViewBag.Title = "Submission";
}

<h2>Submission</h2>

<p>@Model.Condition</p>
<p>@Model.CorrectAnswer</p>
@foreach (var incorrectAnswer in Model.IncorrectAnswers)
{
    <p>@incorrectAnswer</p>
}
