@{
    ViewBag.ButtonText = Model ? "Продължете старата си тренировка" : "Започнете нова тренировка";
}

<h2>Тренировка</h2>


<h3>@Html.ActionLink((string)ViewBag.ButtonText, "GetUserPractice", "Tests", null, null)</h3>