@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Листо</h1>
    <p class="lead">Листо е мястото, което ще ви даде инструментите и мотивацията да постигнете по-добри резултатите във вашете образование.</p>
</div>

